<nz-descriptions nzTitle="Settings">
  <nz-descriptions-item nzTitle="Currency">
    <nz-select
      [ngModel]="currency"
      (ngModelChange)="currencyChange.emit($event)">
      <nz-option *ngFor="let item of list" [nzValue]="item.currency" [nzLabel]="item.description">
      </nz-option>
    </nz-select>
  </nz-descriptions-item>
</nz-descriptions>
