<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" nz-input placeholder="Search for a cryptocurrency" (keyup)="search.emit($event.target.value)"
         [value]="query"
         [nzAutocomplete]="cryptoSearchAutocomplete"/>
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch (click)="search.emit(query)"><i nz-icon nzType="search"></i></button>
</ng-template>
<nz-autocomplete nzBackfill #cryptoSearchAutocomplete
                 (selectionChange)="cryptoSelected.emit($event.nzValue)">
  <nz-auto-option *ngFor="let option of list" [nzValue]="option.id" [nzLabel]="option.name">
    {{ option.name }}
  </nz-auto-option>
</nz-autocomplete>
