<nz-layout>
  <nz-header>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item routerLink="/">Cryptocurrency List</li>
      <li nz-menu-item routerLink="/settings"> Settings</li>
      <div nz-menu-item class="search-nav-container">
        <app-search-crypto-container></app-search-crypto-container>
      </div>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer><span>Cryptocurrency list (powered by CoinMarketCap)</span></nz-footer>
</nz-layout>
