<nz-list [nzDataSource]="list" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
  <ng-template #item let-item>
    <nz-list-item [nzActions]="[rating, symbol, price,priceChange]">
      <nz-list-item-meta
        [nzTitle]="nzTitle"
        nzAvatar="https://s2.coinmarketcap.com/static/img/coins/32x32/{{item.id}}.png?_=443bdd7"
        [routerLink]="['/crypto/',item.id]">
        <ng-template #rating>
          <i nz-icon nzType="star-o"></i> {{item.cmc_rank}}</ng-template>
        <ng-template #symbol>
          {{item.symbol}}
        </ng-template>
        <ng-template #price>
          <i nz-icon nzType="transaction"></i>
          {{item.quote_mapped.price}} {{item.quote_mapped.currency}} ({{item.quote_mapped.currency_symbol}})
        </ng-template>

        <ng-template #priceChange>
          <i nz-icon nzType="stock"></i>
          {{item.quote_mapped.percent_change_24h}}%
        </ng-template>

        <ng-template #nzTitle>
          <a [routerLink]="['/crypto/',item.id]">{{ item.name }}</a>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>
</nz-list>
