<nz-avatar nzSrc="https://s2.coinmarketcap.com/static/img/coins/32x32/{{item.id}}.png" *ngIf="item"></nz-avatar>

<nz-descriptions [nzTitle]="item.name" nzBordered [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }"
                 *ngIf="item && !loading">
  <nz-descriptions-item nzTitle="Rank">{{item.cmc_rank}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Symbol">{{item.symbol}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Price">
    {{item.quote_mapped.price}} {{item.quote_mapped.currency}} ({{item.quote_mapped.currency_symbol}})
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="24h volume">{{item.quote_mapped.volume_24h}}%</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Market cap">{{item.quote_mapped.market_cap}}%</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Price in bitcoin">
    <span class="bitcoin_price" *ngIf="item.quote_bitcoin">{{item.quote_bitcoin.price}}BTC</span>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="1h change">{{item.quote_mapped.percent_change_1h}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="24h change">{{item.quote_mapped.percent_change_24h}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="7d change">{{item.quote_mapped.percent_change_7d}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Total supply">{{item.total_supply}}</nz-descriptions-item>

</nz-descriptions>
